NEXT_PUBLIC_STADIA_MAPS_API_KEY=
NEXT_PUBLIC_STADIA_STYLE_URL=https://tiles.stadiamaps.com/styles/alidade_smooth.json
NEXT_PUBLIC_APP_MODE=development
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-20b
